https-portal:
  image: steveltn/https-portal
  ports:
    - '80:80'
    - '443:443'
  restart: on-failure
  environment:
    DOMAIN: hannuhartikainen.fi
    STAGE: production
    PRODUCTION: 'true'
    WEBSOCKET: 'true'
  volumes:
    - /var/run/docker.sock:/var/run/docker.sock:ro
weechat:
  build: weechat/
  ports:
    - 9001
  tty: true
  restart: on-failure
  environment:
    VIRTUAL_HOST: irc.hannuhartikainen.fi
